<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="battleships.formation.excilys.com.battleships">

    <application
        android:name="com.excilys.formation.battleships.android.ui.BattleShipsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- L'activité de placement des navires -->
        <activity
            android:name="com.excilys.formation.battleships.android.ui.PutShipsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!-- L'activité de la session de jeu -->
        <activity
            android:name="com.excilys.formation.battleships.android.ui.BoardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- L'activité d'affichage des scores -->
        <activity android:name="com.excilys.formation.battleships.android.ui.ScoreActivity" />
        <activity android:name="com.excilys.formation.battleships.PlayerNameActivity">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
        </activity>
    </application>

</manifest>